<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Baby Log</title>

  <!-- Compiled and minified CSS -->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/custom.css" type="text/css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

</head>

<body>

  <h2>Baby's Activity</h2>
  <hr>
  <table class="table table-condensed table-hover">
    <thead>
      <th>Time</th>
      <th>Activity</th>
      <th>Note</th>
      <th></th>
    </thead>
    <tbody>
      <% activities.forEach(function(activity) { %>
        <tr>
          <td><%= activity.time %></td>
          <td><%= activity.activity %></td>
          <td><%= activity.note %></td>
          <td>
            <a href="activities/edit/<%=activity.id%>">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <a href="/activities/<%=activity.id%>?_method=DELETE">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<div class="row" id="btnHolder">
  <a class="btn btn-primary btn-lg" href="/activities/new" role="button">Add New</a>
</div>

  <!--Import jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
